<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <i class="fas fa-calculator me-2"></i>
            Software Estimator
        </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> 
                Dashboard
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link" href="estimates">
                <i class="fas fa-list-alt me-3" style="width: 1.25rem;"></i>
                Estimates
            </NavLink>
        </div>
    </nav>
</div>

